<!DOCTYPE html>
<html>
    <head>
        <title>3D Demo &mdash; Pathfinder</title>
        <meta charset="utf-8">
        {{>partials/header.html}}
        <script type="text/javascript" src="/js/pathfinder/3d-demo.js"></script>
    </head>
    <body class="pf-unscrollable">
        {{>partials/navbar.html isDemo=true}}
        <canvas id="pf-canvas" class="pf-maximized-canvas" width="400" height="300"></canvas>
        <div class="fixed-bottom mb-3 d-flex justify-content-between align-items-end pf-pointer-events-none">
            <div class="rounded invisible container py-1 px-3 ml-3" id="pf-fps-label"></div>
            <div id="pf-toolbar">
                <button id="pf-screenshot-button" type="button"
                 class="btn btn-outline-secondary pf-toolbar-button">
                    <span class="pf-material-icons">photo_camera</span>
                </button>
                <div id="pf-settings-container">
                    <div id="pf-settings" class="card mb-4 pf-invisible">
                        <div class="card-body">
                            <button id="pf-settings-close-button" type="button" class="close"
                            aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <form>
                                <div class="form-group">
                                    <label for="pf-aa-level-select">Antialiasing</label>
                                    <select id="pf-aa-level-select" class="form-control custom-select">
                                        <option value="none">None</option>
                                        <option value="ssaa-2">2&times;SSAA</option>
                                        <option value="ssaa-4" selected>4&times;SSAA</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="pf-arrow-box"></div>
                    </div>
                </div>
                <button id="pf-settings-button" type="button"
                 class="btn btn-outline-secondary pf-toolbar-button"
                 aria-expanded="false" aria-controls="#pf-settings">
                    <span class="pf-material-icons">settings</span>
                </button>
                <button id="pf-vr" type="button"
                 class="btn btn-outline-secondary pf-toolbar-button"
                 aria-expanded="false" aria-controls="#pf-vr"
                 style="display: none">
                    <!-- https://materialdesignicons.com/icon/virtual-reality -->
                    <svg style="height: 18px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M5,3C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3H5M6,9H7.5L8.5,12.43L9.5,9H11L9.25,15H7.75L6,9M13,9H16.5C17.35,9 18,9.65 18,10.5V11.5C18,12.1 17.6,12.65 17.1,12.9L18,15H16.5L15.65,13H14.5V15H13V9M14.5,10.5V11.5H16.5V10.5H14.5Z" />
                    </svg>
                </button>
            </div>
        </div>
        {{>partials/spinner.html}}
    </body>
</html>
