<!DOCTYPE html>
<html>
    <head>
        <title>Benchmark &mdash; Pathfinder</title>
        <meta charset="utf-8">
        {{>partials/header.html}}
        <script type="text/javascript" src="/js/pathfinder/benchmark.js"></script>
    </head>
    <body class="pf-unscrollable">
        {{>partials/navbar.html isTool=true}}
        <canvas id="pf-canvas" class="pf-maximized-canvas" width="400" height="300"></canvas>
        <svg id="pf-svg" xmlns="http://www.w3.org/2000/svg" width="400" height="300"></svg>
        <div class="modal fade" id="pf-benchmark-modal" tabindex="-1" role="dialog"
         aria-labelledby="pf-benchmark-label" aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pf-benchmark-label">Benchmark</h5>
                        <button type="button" class="close" data-dismiss="modal"
                         aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pf-benchmark-text-tab"
                                 data-toggle="tab" href="#pf-benchmark-text" role="tab"
                                 aria-controls="pf-benchmark-text" aria-selected="true">Text</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pf-benchmark-svg-tab" data-toggle="tab"
                                 href="#pf-benchmark-svg" role="tab"
                                 aria-controls="pf-benchmark-svg" aria-selected="false">SVG</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active pt-3" id="pf-benchmark-text"
                             role="tabpanel" aria-labelledby="pf-benchmark-text-tab">
                                <form class="form" id="pf-benchmark-text-form">
                                    <div class="form-group" id="pf-aa-level-form-group">
                                        <label for="pf-aa-level-select"
                                        class="col-form-label mr-sm-2">Antialiasing</label>
                                        <select id="pf-aa-level-select" autocomplete="off"
                                        class="form-control custom-select mr-sm-3">
                                            <option value="none" selected>None</option>
                                            <option value="ssaa-2">2&times;SSAA</option>
                                            <option value="ssaa-4">4&times;SSAA</option>
                                            <option value="ssaa-8">8&times;SSAA</option>
                                            <option value="ssaa-16">16&times;SSAA</option>
                                            <option value="xcaa">XCAA</option>
                                        </select>
                                    </div>
                                    <div class="form-group row justify-content-between">
                                        {{>partials/switch.html id="pf-subpixel-aa" title="Subpixel AA"}}
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane pt-3" id="pf-benchmark-svg"
                             role="tabpanel" aria-labelledby="pf-benchmark-svg-tab">
                                <form class="form" id="pf-benchmark-svg-form">
                                </form>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button id="pf-run-benchmark-button" type="button"
                            class="btn btn-primary">
                                Run
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pf-benchmark-results-modal" tabindex="-1" role="dialog"
         aria-labelledby="pf-benchmark-results-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pf-benchmark-result-label">
                            Benchmark Results
                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                         aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="pf-benchmark-results-global">
                            <span class="pf-benchmark-results-label">Partitioning:</span>
                            &nbsp;
                            <span id="pf-benchmark-results-partitioning-time">0</span> µs/glyph
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-default" id="pf-benchmark-results-table-header">
                                <tr><th>Font size (px)</th><th>GPU time per glyph (µs)</th></tr>
                            </thead>
                            <tbody id="pf-benchmark-results-table-body"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                         id="pf-benchmark-results-save-csv-button">Save CSV&hellip;</button>
                        <button type="button" class="btn btn-primary"
                         id="pf-benchmark-results-close-button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

