<!DOCTYPE html>
<html>
    <head>
        <title>Benchmark &mdash; Pathfinder</title>
        <meta charset="utf-8">
        {{>partials/header.html}}
        <script type="text/javascript" src="/js/pathfinder/benchmark.js"></script>
    </head>
    <body>
        {{>partials/navbar.html isTool=true}}
        <div class="fixed-bottom mb-3 d-flex justify-content-end align-items-end pf-pointer-events-none">
            <div id="pf-toolbar">
                <button id="pf-run-benchmark-button" type="button"
                 class="btn btn-primary pf-toolbar-button">
                    Run Benchmark
                </button>
            </div>
        </div>
    </body>
</html>

