<!DOCTYPE html>
<html>
    <head>
        <title>Pathfinder</title>
        <meta charset="utf-8">
        {{>partials/header.html}}
    </head>
    <body>
        {{>partials/navbar.html}}
        <main id="content" class="mt-5 mb-5">
            <div class="container">
                <div class="flex-column">
                    <div class="text-center">
                        <h1>Pathfinder</h1>
                        <p class="lead">
                            A fast, high-quality, open source text and vector graphics renderer for
                            GPUs.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
