<!DOCTYPE html>
<html>
    <head>
        <title>Pathfinder</title>
        <meta charset="utf-8">
        {{>partials/header.html}}
    </head>
    <body>
        {{>partials/navbar.html}}
        <main id="content" class="mt-5 mb-5">
            <div class="container d-flex flex-row">
                <div><img alt="" src="/svg/demo/logo" id="pf-masthead-logo"></div>
                <div class="flex-column d-flex justify-content-center ml-5">
                    <h1 class="display-4">Pathfinder</h1>
                    <p class="lead">
                        A fast, high-quality, open source text and vector graphics renderer for
                        GPUs.
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
