<!DOCTYPE html>
<html>
    <head>
        <title>Integration Test &mdash; Pathfinder</title>
        <meta charset="utf-8">
        {{>partials/header.html}}
        <script type="text/javascript" src="/js/pathfinder/integration-test.js"></script>
    </head>
    <body class="pf-unscrollable">
        {{>partials/navbar.html isTool=true}}
        <div class="container-fluid">
            <div class="row py-3">
                <div id="pf-test-pane" class="col">
                    <form>
                        <div class="form-group">
                            <label for="pf-select-file">Font</label>
                            <select id="pf-select-file" class="form-control custom-select">
                                <option value="open-sans">Open Sans</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pf-font-size">Font Size</label>
                            <div class="input-group">
                                <input id="pf-font-size" type="number" class="form-control"
                                 value="32">
                                <div class="input-group-addon">px</div>
                            </div>
                        </div>
                    </form>
                </div>
                <canvas id="pf-reference-pane" class="pf-draggable pf-pane col" width="300"
                 height="400">
                </canvas>
                <canvas id="pf-canvas" class="pf-draggable pf-pane col" width="300"
                 height="400"></canvas>
            </div>
        </div>
    </body>
</html>
