<!DOCTYPE html>
<html>
    <head>
        <title>Mesh Debugger &mdash; Pathfinder</title>
        <meta charset="utf-8">
        {{>partials/header.html}}
        <script type="text/javascript" src="/js/pathfinder/mesh-debugger.js"></script>
    </head>
    <body class="pf-unscrollable">
        {{>partials/navbar.html isTool=true}}
        <canvas id="pf-canvas" width="400" height="300"></canvas>
        {{>partials/spinner.html}}
    </body>
</html>
