<!DOCTYPE html>
<html>
    <head>
        <title>Text Demo &mdash; Pathfinder</title>
        <meta charset="utf-8">
        {{>partials/header.html}}
        <script type="text/javascript" src="/js/pathfinder/text-demo.js"></script>
    </head>
    <body class="pf-unscrollable">
        {{>partials/navbar.html isDemo=true}}
        <canvas id="pf-canvas" class="pf-draggable" width="400" height="300"></canvas>
        <div class="fixed-bottom mb-3 d-flex justify-content-between align-items-end pf-pointer-events-none">
            <div class="rounded invisible container py-1 px-3 ml-3" id="pf-fps-label"></div>
            <div id="pf-toolbar">
                <div class="btn-group" role="group" aria-label="Zoom">
                    <button id="pf-zoom-out-button" type="button"
                     class="btn btn-outline-secondary pf-toolbar-button">
                        {{octicon "dash"}}
                    </button>
                    <button id="pf-zoom-in-button" type="button"
                     class="btn btn-outline-secondary pf-toolbar-button">
                        {{octicon "plus"}}
                    </button>
                </div>
                <button id="pf-zoom-pulse-button" type="button" title="Pulse Zoom"
                 class="btn btn-outline-secondary pf-toolbar-button">
                    <span id="pf-play-icon"></span>
                </button>
                <button id="pf-screenshot-button" type="button"
                 class="btn btn-outline-secondary pf-toolbar-button">
                    {{octicon "device-camera"}}
                </button>
                <div id="pf-settings-container">
                    <div id="pf-settings" class="card mb-4 pf-invisible">
                        <div class="card-body">
                            <button id="pf-settings-close-button" type="button" class="close"
                            aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <form>
                                <div class="form-group">
                                    <label for="pf-select-file">Font</label>
                                    <select id="pf-select-file" class="form-control custom-select">
                                        <option value="eb-garamond" selected>EB Garamond</option>
                                        <option value="open-sans">Open Sans</option>
                                        <option value="nimbus-sans">Nimbus Sans</option>
                                        <option value="inter-ui">Inter UI</option>
                                        <option value="load-custom">Load File&hellip;</option>
                                    </select>
                                    <input id="pf-file-select" type="file">
                                </div>
                                <div class="form-group">
                                    <label for="pf-aa-level-select">Antialiasing</label>
                                    <select id="pf-aa-level-select" class="form-control custom-select">
                                        <option value="none">None</option>
                                        <option value="ssaa-2">2&times;SSAA</option>
                                        <option value="ssaa-4">4&times;SSAA</option>
                                        <option value="xcaa" selected>XCAA</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="pf-hinting-select">Hinting</label>
                                    <select id="pf-hinting-select"
                                     class="form-control custom-select">
                                        <option value="none">None</option>
                                        <option value="slight" selected>Slight</option>
                                    </select>
                                </div>
                                <div class="form-group row justify-content-between">
                                    {{>partials/switch.html id="pf-subpixel-aa"
                                      title="Subpixel AA"}}
                                </div>
                                <div class="form-group row justify-content-between">
                                    {{>partials/switch.html id="pf-gamma-correction"
                                      title="Gamma Correction"}}
                                </div>
                                <div class="form-group row justify-content-between">
                                    {{>partials/switch.html id="pf-stem-darkening"
                                      title="Stem Darkening"}}
                                </div>
                            </form>
                        </div>
                        <div class="pf-arrow-box"></div>
                    </div>
                </div>
                <button id="pf-settings-button" type="button"
                 class="btn btn-outline-secondary pf-toolbar-button" aria-expanded="false"
                 aria-controls="#pf-settings">{{octicon "gear"}}</button>
            </div>
        </div>
        <div class="modal fade" id="pf-edit-text-modal" tabindex="-1" role="dialog"
         aria-labelledby="pf-edit-text-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pf-edit-text-label">Edit Text</h5>
                        <button type="button" class="close" data-dismiss="modal"
                         aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <textarea id="pf-edit-text-area" class="form-control" rows="16">
                            </textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                         data-dismiss="modal">Cancel</button>
                        <button type="button"
                         class="btn btn-primary" id="pf-edit-text-ok-button">OK</button>
                    </div>
                </div>
            </div>
        </div>
        {{>partials/spinner.html}}
    </body>
</html>
