language: rust
addons:
  apt:
    packages:
    - libegl1-mesa-dev
    - libgtk-3-dev
    - libsdl2-dev
    - cmake
script:
  - cargo build
  # - cargo test # todo: fix tests
env:
  global:
    - HARFBUZZ_SYS_NO_PKG_CONFIG=true
