#pf-load-font-button-label,
#pf-load-svg-button-label {
    left: 1em;
    margin: 0;
}
#pf-settings {
    user-select: none;
    -moz-user-select: none;
    opacity: 1.0;
    transition: opacity 300ms, transform 300ms, visibility 300ms;
    transform: translateY(0);
}
#pf-settings-button:not(:hover) {
    background: rgba(255, 255, 255, 0.75);
}
#pf-file-select {
    position: absolute;
    visibility: hidden;
}
#pf-settings.pf-invisible {
    opacity: 0.0;
    transform: translateY(1em);
    visibility: hidden;
}
button > svg {
    width: 1.25em;
    display: block;
}
button > svg path {
    fill: currentColor;
}
#pf-rendering-options-group {
    right: 1em;
}
#pf-canvas {
    display: block;
    position: absolute;
    touch-action: none;
}
#pf-fps-label {
    color: white;
    background: rgba(0, 0, 0, 0.75);
}
#pf-svg {
    visibility: hidden;
}

.pf-arrow-box:after, .pf-arrow-box:before {
	top: 100%;
	left: 22px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pf-arrow-box:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: white;
	border-width: 14px;
	margin-left: -14px;
}
.pf-arrow-box:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0.125);
	border-width: 15px;
	margin-left: -15px;
}