#pf-load-font-button-label,
#pf-load-svg-button-label {
    left: 1em;
    margin: 0;
}
#pf-settings-container {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    pointer-events: none;
    text-align: right;
}
#pf-toolbar {
    margin-right: 1rem;
}
#pf-settings {
    text-align: initial;
    user-select: none;
    -moz-user-select: none;
    opacity: 1.0;
    transition: opacity 300ms, transform 300ms, visibility 300ms;
    transform: translateY(0);
}
#pf-settings:not(.pf-invisible) {
    pointer-events: auto;
}
.pf-toolbar-button {
    pointer-events: auto;
}
.pf-toolbar-button:not(:hover) {
    background: rgba(255, 255, 255, 0.75);
}
#pf-file-select {
    position: absolute;
    visibility: hidden;
}
#pf-settings.pf-invisible {
    opacity: 0.0;
    transform: translateY(1em);
    visibility: hidden;
}
button > svg {
    width: 1.25em;
    display: block;
}
button > svg path {
    fill: currentColor;
}
.pf-pointer-events-none {
    pointer-events: none;
}
#pf-rendering-options-group {
    right: 1em;
}
#pf-canvas {
    display: block;
    position: absolute;
    touch-action: none;
}
#pf-fps-label {
    color: white;
    background: rgba(0, 0, 0, 0.75);
}
#pf-svg {
    visibility: hidden;
}

.pf-arrow-box:after, .pf-arrow-box:before {
	top: 100%;
	right: 22px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pf-arrow-box:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: white;
	border-width: 14px;
	margin-right: -14px;
}
.pf-arrow-box:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0.125);
	border-width: 15px;
	margin-right: -15px;
}

.github-corner > svg {
    fill: #151513;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    z-index: 1;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave{
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
