name: CI

on:
  push:
    branches: ['master', 'auto']
  pull_request:

jobs:
  Test:
    runs-on: ubuntu-latest
    env:
      HARFBUZZ_SYS_NO_PKG_CONFIG: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y libegl1-mesa-dev libgtk-3-dev libsdl2-dev cmake
        
      - name: Install rustc target
        run: rustup target add aarch64-unknown-linux-gnu
        
      - name: Build arm64 simd
        run: cargo build --target aarch64-unknown-linux-gnu
        working-directory: simd

      - name: Build arm64 geometry
        run: cargo build --target aarch64-unknown-linux-gnu
        working-directory: geometry

      - name: Build
        run: cargo build

      - name: Test
        run: cargo test

  build_result:
    name: homu build finished
    runs-on: ubuntu-latest
    needs:
      - "Test"
    steps:
      - name: Mark the job as successful
        run: exit 0
        if: success()
      - name: Mark the job as unsuccessful
        run: exit 1
        if: "!success()"
